.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 105vh;
    background: #c9d3e7;
  }
  
.form-containerl {
    width: 800px;
    margin:auto;
    height: auto;
    
  }
  
  .titlel {
    text-align: center;
    padding: auto;
  }
  .sloganl{
    text-align: center;
    text-decoration: solid;
  }
  
  .btncl{
    width: 100%;
    background-color: grey;
  }

  .btncs{
    width: 100%;
    
  }
  
  .auth-imagel{
    width: 300px;
    height:300px;
    padding: 30px;
  }
  
  .alert{
    margin-bottom: 1.5rem;
  }
  
  .profile-card{
    width: 500px;
  }
  
  .avatar{
    margin-bottom: 1.5rem;
  }
  
  .username{
    text-transform: capitalize;
  }
  
  .profile-btn{
    margin-top: 1.3rem;
    width: 100%;
  
  }